@model CurseWork.Models.Ticket

@{
    ViewData["Title"] = "Деталі квитка";
}

<h1>Деталі квитка</h1>

<div>
    <h4>Квиток</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlightId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PassengerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SeatNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SeatNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TicketId">Редагувати</a> |
    <a asp-action="Index">Назад до списку</a>
</div>
