@model CurseWork.Models.Route

@{
    ViewData["Title"] = "Деталі маршруту";
}

<h1>Деталі маршруту</h1>

<div>
    <h4>Маршрут</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureAirport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartureAirport)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalAirport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArrivalAirport)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TerminalType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TerminalType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RouteId">Редагувати</a> |
    <a asp-action="Index">Назад до списку</a>
</div>
