@model CurseWork.Models.Visa

@{
    ViewData["Title"] = "Деталі візи";
}

<h1>Деталі візи</h1>

<div>
    <h4>Віза</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PassengerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VisaId">Редагувати</a> |
    <a asp-action="Index">Назад до списку</a>
</div>
